/*DEFINE VARIABLES HERE*/
:root{
	/*--LIGHT MODE--*/
	/*--primary-color: #006783;
	--on-primary-color: #FFFFFF;
	--primary-container-color: #B7EAFF;
	--secondary-container-color: #CFE6F1;
	--on-primary-container-color: #001F2A;
	--tertiary-color: #5B5B7E;
	--background-color: #FBFCFE;
	--on-background-color: #191C1E*/
	
	
	/*--DARK MODE--*/
	--primary-color: #5FD4FE;
	--on-primary-color: #003545;
	--primary-container-color: #004D63;
	--on-primary-container-color: #B7EAFF;
	--secondary-color: #B3CAD5;
	--secondary-container-color: #B3CAD5;
	--on-secondary-container-color: #1E333C;
	--tertiary-color: #C4C3EA;
	--on-tertiary-color: #2D2D4D;
	--background-color: #191C1E;
	--on-background-color: #E1E3E5;
	
	--border-radius: 45px;
}

/*This affects the ENTIRE page*/
html 
{
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	
	background:  var(--background-color);
}

/*
	So I now know Multiclassing is a thing..
	DO THAT LATER
*/

/**********************************************************************
		HIDDEN LINK
**********************************************************************/
.HiddenL:hover, .HiddenL:visited, .HiddenL:link, .HiddenL:active
{
    text-decoration: none;
}


/**********************************************************************
		COLORS
**********************************************************************/

/*PUT ANYTHING YOU WANT TO BE PRIMARY COLOR HERE*/
.Header, .SectionHeader, .Footer, .SectionHeaderLeft
{
	background: var(--primary-color);
}
/*ON PRIMARY*/
.PageHeader, .SectionHeader, .FooterText, .FooterLink, .SectionHeaderLeft, .ContactButton
{
	color: var(--on-primary-color);
}
/*PRIMARY CONTAINER*/
.Card, .FullCard, .FullScreenCard, .Block, .BannerCard
{
	background: var(--primary-container-color);
}
/*ON PRIMARY CONTAIER*/
.BlockText, .BlockTitle, .CardText, .CardFooter
{
	color: var(--on-primary-container-color);
}

a.Card:hover
{
	background: var(--secondary-color);
}

/**********************************************************************
		TEXT SIZES AND FONT
**********************************************************************/

/*Set Global Font Data*/
.BlockText, .BlockTitle, .CardText .CardFooter, .PageHeader, .SectionHeader, .SectionHeaderLeft, .ContactButton
{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

.BlockTitle, .CardFooter
{
	font-size: 24px;
	line-height: 26px;
}

.BlockText, .FooterText, .FooterLink, .CardText
{
	font-size: 22px;
	line-height: 28px;
}

p.BlockText
{
	margin: 36px;
}

.PageHeader
{
	font-size: 57px;
	line-height: 64px;
}

.SectionHeader, .SectionHeaderLeft
{
	font-size: 32px;
	line-height: 40px;
}

/**********************************************************************
		HEADER
**********************************************************************/

/*Set the headers height*/
.Header, .UnderHeader
{
	width: 100%;
	height: 120px;
}

.Header, .HeaderFrame
{
	position: fixed;

	left: 0px;
	top: 0px;
	
	padding: 0px 0px;
}

.Header
{
	border-radius: 0px 0px var(--border-radius) 0px;
}

/*
Now for the Header Iframe
*/
.HeaderFrame
{
	display: block;
	
	margin: 0px 0px;
	
	width:100%;
	
	border:none;
}

.PageHeader
{
	align-items: center;
	letter-spacing: -0.25px;
	
	padding: 0px 20px;
}

/**********************************************************************
		FOOTER
**********************************************************************/

.Footer, .FooterFrame
{
	position: relative;
		
	bottom: 0px;
}

.Footer
{
	padding: 20px 40px 20px 40px;
	
	margin: 20px 0px 0px 0px;
	
	border-radius: 0px var(--border-radius) 0px 0px;
}

.FooterFrame
{
	resize: vertical;
	
	display: block;
	
	padding: 0px;
	
	margin: 0px;
	
	width: 100%;
	
	height: auto;
	
	border:none;
}

/**********************************************************************
		Sections
**********************************************************************/

.Section, .FullSection
{	
	width: 100%;
}

.SectionBackground
{
	width: 100%;
	
	display: flex;
	flex-wrap: nowrap;
	
	/*Gives the slider for overflow on the section*/
	overflow-y: visible;
	overflow-x: auto;
}

.SectionHeader, .SectionHeaderLeft
{
	padding: 20px 40px;
	margin: 0px 0px;
}

.SectionHeader
{
	border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.SectionHeaderLeft
{
	border-radius: var(--border-radius) 0px 0px var(--border-radius);
}


/**********************************************************************
		Images
**********************************************************************/

.CardImage, .FrontImage, .TableImage, .BannerImageTop, .BannerImageBottom
{
	border: 5px solid var(--on-primary-container-color);
}
.CardImage, .FrontImage
{
	float:right;
	
	display: inline-block;
}

 .FrontImage
 {
	 margin: 10px 5px 10px 30px;
 }

.CardImage
{
	margin: 0px 5px 10px 10px;
}

.TableImage
{
	
	
	max-width:100%;
	max-height:100%;
	
	padding: 0px 0px 0px 0px;
	
	margin: 0px 0px 0px 0px;
	
	border-radius: var(--border-radius);
}

.FrontImage
{
	max-width:400px;
	max-height:400x;
	
	border-radius: var(--border-radius);
	
}

.CardImage
{
	width:80px; 
	border-radius: 30px;
	
	clear: right;
}

.BannerImageTop, .BannerImageBottom
{
	width: 100%;
	/*object-fit: cover;*/
}

.BannerImageTop
{
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.BannerImageBottom
{
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}


/**********************************************************************
		Cards
**********************************************************************/

.FullCard, .Block, .Card, .BannerCard
{
	border-radius: var(--border-radius);
}

.FullCard
{
	padding: 20px 20px 20px 20px;
	margin: 18px 20px;
	
	min-height: 68vh;
	
	overflow: auto;
}


.Block, .Card
{
	flex: 0 0 auto;
}

.Card
{
	width: 15em;
	
	padding: 10px 20px;
	margin: 18px 20px;
}

a.Card
{
	text-decoration: none;
	
	transition: background .25s;
}

.CardSpacer
{
	/*min-height: 18em;*/
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


.CardFooter
{	
	margin: 10px 0px;
	
	/*text-align:center;*/
	
	bottom: 0;
	
	/*vertical-align: bottom;*/
}

.FooterLink
{
	margin: 0px 20px 20px 20px;
}


/**********************************************************************
		Blocks (Big Card)
**********************************************************************/

.Block
{
	height: 100%;
	padding: 0px 0px 0px 0px;

}

.Link
{
	text-align: center;
}

.ContactButton
{
	position: absolute;
	
	text-decoration: none;
	
	right: 0px;
	top: 0px;

	padding: 10px 10px 10px 10px;
	
	margin: 30px 20px;

	border: 3px solid var(--on-primary-color);
	box-sizing: border-box;
	border-radius: 10px;
	
	font-size: 36px;
	line-height: 44px;
	
	align-items: center;
	text-align: center;

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, auto));
  padding: 10px 20px 10px 20px;
  
  column-gap: 1em;
}

.center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
